@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Descripción</th>
      <th scope="col">Peso</th>
      <th scope="col">Tipo</th>
      <th scope="col">Presentación</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Articulos</td>
      <td>10 Kg</td>
      <td>Tipo X</td>
      <td>Caja</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Articulos</td>
      <td>15 Kg</td>
      <td>Tipo Y</td>
      <td>Caja</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Documentos</td>
      <td>1 Kg</td>
      <td>Tipo Z</td>
      <td>Sobre</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Diploma</td>
      <td>1 Kg</td>
      <td>Tipo A</td>
      <td>Sobre</td>
    </tr>
  </tbody>
</table>
