@page
@{
}
 
<div class="text-center">
<!--<form action="">
  <label for="nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
  <label for="edad" class="form-label">Edad:</label>
  <input type="number" class="form-control" id="edad" name="edad" placeholder="Edad">
  <label for="email" class="form-label">Email:</label>
  <input type="email" class="form-control" id="email" name="email" placeholder="Email">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>-->
  <form class="row g-3">
    <div class="col-12">
      <label for="inputId" class="form-label">IDn</label>
      <input type="text" class="form-control" id="inputId" placeholder="ID de Seguimiento">
    </div>
    <div class="col-md-6">
      <label for="inputOrigen" class="form-label">Origen</label>
      <input type="text" class="form-control" id="inputOrigen" placeholder="Kg.">
    </div>
    <div class="col-md-6">
      <label for="inputDestino" class="form-label">Destino</label>
      <input type="text" class="form-control" id="inputDestino">
    </div>
     <div class="col-md-6">
      <label for="inputFecha" class="form-label">Fecha</label>
      <input type="text" class="form-control" id="inputFecha" placeholder="Kg.">
    </div>
    <div class="col-md-6">
      <label for="inputHora" class="form-label">Hora</label>
      <input type="text" class="form-control" id="inputHora">
    </div>
    <div class="col-md-6">
      <label for="inputEncomienda" class="form-label">Encomienda</label>
      <input type="text" class="form-control" id="inputEncomienda">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
@* </form> *@
</div>