@page
@model ProyectoCiclo3.App.Frontend.Pages.FormServicioModel
@{
}
 
<div class="text-center">
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputOrigen" class="form-label">Origen</label>
      <input type="number" class="form-control" id="origen" name="origen" placeholder="Origen" >
    </div>
    <div class="col-md-6">
      <label for="inputDestino" class="form-label">Destino</label>
      <input type="number" class="form-control" id="destino" name="destino" placeholder="Destino" >
    </div>
     <div class="col-md-6">
      <label for="inputFecha" class="form-label">Fecha</label>
      <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha" >
    </div>
    <div class="col-md-6">
      <label for="inputHora" class="form-label">Hora</label>
      <input type="time" class="form-control" id="hora" name="hora" placeholder="Hora" >
    </div>
    <div class="col-md-6">
      <label for="inputEncomienda" class="form-label">Encomienda</label>
      <input type="number" class="form-control" id="encomienda" name="encomienda" placeholder="Encomienda" >
    </div>
    
    <div class="col-12">
      <hr>
      <button type="submit" class="btn btn-success">Enviar</button>
    </div>
  </form>
</div>